In [4]:
import pandas as pd
df = pd.read_csv("../data/BateadorVsPitcher.csv")
print(df.head())
print(df.info())
print(df.describe())

           Bateador          Etapa            Equipo            Pitcher  AB  \
0  Emilio Bonifacio  Serie Regular  Tigres del Licey       Jhan Mari√±ez   2
1  Emilio Bonifacio  Serie Regular  Tigres del Licey        Pedro Strop   0
2  Emilio Bonifacio  Serie Regular  Tigres del Licey  Richard Rodriguez   1
3  Emilio Bonifacio  Serie Regular  Tigres del Licey     Williams Jerez   0
4  Emilio Bonifacio  Serie Regular  Tigres del Licey     Dinelson Lamet   1

   R  H  2B  3B  HR  RBI  BB  IBB  SO  AVG    OBP  SLG    OPS  Unnamed: 18
0  0  0   0   0   0    0   0    0   0  0.0  0.000  0.0  0.000          NaN
1  0  0   0   0   0    0   0    0   0  0.0  0.000  0.0  0.000          NaN
2  0  0   0   0   0    0   0    0   0  0.0  0.000  0.0  0.000          NaN
3  0  0   0   0   0    0   1    0   0  0.0  1.000  0.0  0.000          NaN
4  1  0   0   0   0    0   2    0   0  0.0  0.667  0.0  0.667          NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bateador     287 non-null    object
 1   Etapa        287 non-null    object
 2   Equipo       287 non-null    object
 3   Pitcher      287 non-null    object
 4   AB           287 non-null    int64
 5   R            287 non-null    int64
 6   H            287 non-null    int64
 7   2B           287 non-null    int64
 8   3B           287 non-null    int64
 9   HR           287 non-null    int64
 10  RBI          287 non-null    int64
 11  BB           287 non-null    int64
 12  IBB          287 non-null    int64
 13  SO           287 non-null    int64
 14  AVG          287 non-null    float64
 15  OBP          287 non-null    float64
 16  SLG          287 non-null    float64
 17  OPS          287 non-null    float64
 18  Unnamed: 18  1 non-null      float64
dtypes: float64(5), int64(10), object(4)
memory usage: 42.7+ KB
None
               AB           R           H          2B          3B          HR  \
count  287.000000  287.000000  287.000000  287.000000  287.000000  287.000000
mean     1.344948    0.222997    0.365854    0.069686    0.003484    0.017422
std      1.468611    0.464578    0.575081    0.255063    0.059028    0.131065
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      1.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      1.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      2.000000    0.000000    1.000000    0.000000    0.000000    0.000000
max     10.000000    2.000000    3.000000    1.000000    1.000000    1.000000

              RBI          BB    IBB          SO         AVG         OBP  \
count  287.000000  287.000000  287.0  287.000000  287.000000  287.000000
mean     0.202091    0.195122    0.0    0.222997    0.230314    0.352972
std      0.555578    0.430779    0.0    0.472044    0.382831    0.427399
min      0.000000    0.000000    0.0    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.0    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.0    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.0    0.000000    0.366500    1.000000
max      4.000000    2.000000    0.0    2.000000    1.000000    1.000000

              SLG         OPS  Unnamed: 18
count  287.000000  287.000000          1.0
mean     0.328746    0.593951          1.5
std      0.666494    1.003116          NaN
min      0.000000    0.000000          1.5
25%      0.000000    0.000000          1.5
50%      0.000000    0.000000          1.5
75%      0.500000    0.916500          1.5
max      4.000000    5.000000          1.5